img {
    width: 80%;
    text-align: center;
}

div {
    padding: 1vw;
    margin: 1vw 0vw;
    border-radius: 3vw;
}

#div-frontend {
    background-image: linear-gradient(90deg, beige, transparent)
    
}

#div-backend {
    background-image: linear-gradient(90deg, gainsboro, transparent);
}

#div-logo {
    text-align: center;
}

h1 {
    color: blue;
    text-align: center;
    text-transform: uppercase;
}

h3 {
    text-align: center;
    text-decoration: underline;
}

h4 {
    color: cornflowerblue;
}

p {
    text-align: justify;
}

table {
    width: 100%;
}